body {
  padding-top: 50px;
}

.login-form > div {
    margin-top: 10px;
}

.todo-completed {
  text-decoration: line-through;
  color: lightgray;
}

.todo-check-muted {
  color: lightgray;
}

.float-top-right {
  position: absolute;
  z-index: 1;
  right: 0px;
  margin: 10px;
}
