{% extends "layout.html" %}

{% block content %}

{% from "macros.html" import todo_checkbox, todo_description, todo_delete %}

<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th></th><th>#</th><th>User</th><th>Description</th><th></th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo_checkbox(todo) }}</td>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>{{ todo_description(todo) }}</td>
                <td>{{ todo_delete(todo) }}</td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description..." required>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}
